@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    --blue:#000080;
}
html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s cubic-bezier(.37,1.14,.26,1.24);
}
/*dark*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}
body.dark {
    background: #000000;
}
.d{
    height: min-content;
    width: min-content;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-left: 200px;
}
.checkbox {
    opacity: 50%;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}


.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}


/* SOCIAL PANEL CSS */
.social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
    transform: translateX(-10px);
}

.social-panel { 
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
    border: 5px solid #001F61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Muli';
    position: relative;
    height: 169px;  
    width: 370px;
    max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
    border: 0;
    color: #97A5CE;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.social-panel button.close-btn:focus {
    outline: none;
}

.social-panel p {
    background-color: #001F61;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px;
}

.social-panel p i {
    margin: 0 5px;
}

.social-panel p a {
    color: #FF7500;
    text-decoration: none;
}

.social-panel h4 {
    margin: 20px 0;
    color: #97A5CE; 
    font-family: 'Muli';    
    font-size: 14px;    
    line-height: 18px;
    text-transform: uppercase;
}

.social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-panel ul li {
    margin: 0 10px;
}

.social-panel ul li a {
    border: 1px solid #DCE1F2;
    border-radius: 50%;
    color: #001F61;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.social-panel ul li a:hover {
    border-color: #FF6A00;
    box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
    border-radius: 26.5px;
    background-color: #001F61;
    border: 1px solid #001F61;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position:fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: #001F61;
}

.floating-btn:focus {
    outline: none;
}

.floating-text {
    background-color: #001F61;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998;
}

.floating-text a {
    color: #FF7500;
    text-decoration: none;
}

@media screen and (max-width: 480px) {

    .social-panel-container.visible {
        transform: translateX(0px);
    }
    
    .floating-btn {
        right: 10px;
    }
}
/*dark*/
*::selection{
    background:#ff3300;
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn{
    height: 4rem;
    width: 14rem;
    background:var(--blue);
    color:#fff;
    font-size: 2rem;
    cursor: pointer;
    border:none;
    outline: none;
}

.btn:hover{
    letter-spacing: .2rem;
    opacity: .8;
}

.heading{
    padding-top: 7rem;
    width: 95%;
    border-bottom: .2rem solid rgba(0,0,0,.3);
    margin:0 auto;
}

.heading span{
    font-size: 2rem;
    padding:1rem 6rem;
    color:#fff;
    background:var(--blue);
    border-top-right-radius: 3rem;
    display: inline-block;
}

header .header-1, header .header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem;
    width: 100%;
    z-index: 1000;
}

header .header-1 .logo{
    font-size: 2rem;
    color:#6698FF;
    padding: 20px 20px;
        display: inline-block;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        overflow: hidden;
}

header .header-1 .logo:hover {
    color: #111;
        background: #FFA500;
        box-shadow: 0 0 15px #FFE87C;
        border-color: #000000;
        border: 30px;
    }
header .header-1 .logo i{
    color:#0020C2;
}

header .header-1 .form-container form{
    display: flex;
}

header .header-1 .form-container form #search{
    height: 4rem;
    width: 50rem;
    outline: none;
    border:.2rem solid #666;
    font-size: 1.5rem;
    padding:0 1rem;
    background:#FFF8DC;
}

header .header-1 .form-container form #search:focus{
    border-color: var(--blue);;
}

header .header-1 .form-container form label{
    height: 4rem;
    width: 5rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    cursor: pointer;
    background: var(--blue);
    color:#fff;
}

header .header-1 .form-container form label:hover{
    color:yellow;
}

header .header-2{
    background:var(--blue);
}

header .header-2 .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-2 .navbar ul li{
    margin:0 1rem;
}

header .header-2 .navbar ul li a{
    font-size: 2rem;
    color:#fff;
}

header .header-2 .navbar ul li a.active,
header .header-2 .navbar ul li a:hover{
    color:rgb(232, 226, 30);
}

header .header-2 .icons a{
    color: #fff;
    font-size: 2rem;
    padding: 0 1rem;
}

header .header-2 .icons a:hover{
    color:yellow;
}

header .header-2 #menu{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}

header .header-2.header-active{
    position: fixed;
    top:0; left: 0;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

.home .home-slider .item{
    position: relative;
}

.home .home-slider .item img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.home .home-slider .item .content{
    position: absolute;
    top:50%; left: 5%;
    transform: translateY(-50%);
}

.home .home-slider .item .content h3{
    color:#fff;
    text-shadow: 0 .3rem .5rem #000;
    font-size: 5rem;
    text-transform: uppercase;
}

.home .home-slider .item .content p{
    color:#fff;
    font-size: 2.5rem;
    padding:2rem 0;
    width: 50rem;
}

.home .owl-carousel .owl-prev, .home .owl-carousel .owl-next{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    outline: none;
}

.home .owl-carousel .owl-prev{
    left: 1.3rem;;
}

.home .owl-carousel .owl-next{
    right:1.3rem;;
}

.home .owl-carousel .owl-prev span, .home .owl-carousel .owl-next span{
    color:#fff;
    font-size: 7rem;
}

.arrival{
    min-height: 100vh;
}

.arrival .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    width: 85%;
    margin:0 auto;
}

.arrival .box-container .box{
    flex:1 1 30rem;
    border:.1rem solid rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    margin:1rem 2rem;
}

.arrival .box-container .box .image{
    height: 20rem;
    width: auto;
    padding:2rem;
    text-align: center;
    background:#f0f0f0;
}

.arrival .box-container .box .image img{
    height: 100%;
    object-fit: contain;
}

.arrival .box-container .box .info h3{
    padding:1rem;
    font-size: 2rem;
    color:#1F45FC;
}

.arrival .box-container .box .info .subInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top: .1rem solid rgba(0,0,0,.3);
}

.arrival .box-container .box .info .subInfo .price{
    color:#ff3300;
    font-size: 2rem;
}

.arrival .box-container .box .info .subInfo .price span{
    color:#666;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.arrival .box-container .box .info .subInfo .stars i{
    color:orange;
    font-size: 1.5rem;
}

.arrival .box-container .box .overlay{
    position: absolute;
    top:0; left: 0;
    height:20rem;
    width: 100%;
    background:rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.arrival .box-container .box:hover .overlay{
    transform: scale(1);
}

.arrival .box-container .box .overlay a{
    font-size: 2rem;
    padding:1.5rem 2rem;
    background:#FFA500;
    color:#666;
    margin:1rem;
    transform: translateY(-15rem);
    transition-delay: calc(.1s * var(--i));
}

.arrival .box-container .box:hover .overlay a{
    transform: translateY(0rem);
}

.arrival .box-container .box .overlay a:hover{
    color:var(--blue);
}

.feature{
    min-height: 100vh;
    background:linear-gradient(165deg, #FFA500 50%, var(--blue) 50.1%);
    padding-bottom: 2rem;
}
/*dark
.feature.dark{
    min-height: 100vh;
    background:linear-gradient(165deg, #000000 50%, var(--blue) 50.1%);
    padding-bottom: 2rem;
}
dark*/
.feature .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    margin:3rem auto;
    width: 95%;
    background:#fff;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    border-radius: 1rem;
}

.feature .row .image-container{
    display: flex;
    align-items: center;
}

.feature .row .image-container .big-image img{
    height: 30rem;
    margin:2rem 0;
    filter: drop-shadow(0 .1rem .5rem #000);
}

.feature .row .image-container .small-image{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.feature .row .image-container .small-image img{
    height:6rem;
    padding: 1rem;
    margin:1rem;
    border:.1rem solid #666;
    cursor: pointer;
}

.feature .row .image-container .small-image img.image-active,
.feature .row .image-container .small-image img:hover{
    border:.2rem solid var(--blue);
}

.feature .row .content{
    padding-left: 6rem;
}

.feature .row .content h3{
    font-size: 4rem;
    color:var(--blue);
}

.feature .row .content .stars i{
    font-size: 2rem;
    color:orange;
    padding: 1rem 0;
}

.feature .row .content .stars span{
    font-size: 2rem;
    color:#666;
}

.feature .row .content p{
    color:#333;
    width: 40rem;
    font-size: 2rem;
    padding: 2rem 0;
}

.feature .row .content .price{
    color:#ff3300;
    font-size: 2rem;
}

.feature .row .content .price span{
    color:#666;
    text-decoration: line-through;
    font-size: 1.5rem;
}

.feature .row .content .btn{
    margin-left: 2rem;
}

.gallery{
    min-height: 100vh;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1.5rem 0;
    list-style: none;
}

.gallery .controls .btn{
    margin:2rem;
    line-height: 4rem;
    text-align: center;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.gallery .controls .btn.button-active{
    background:#333;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2rem;
    border:.1rem solid rgba(0,0,0,.3);
    flex:1 1 30rem;
}

.gallery .image-container .box .image{
    height:12rem;
    width: 20rem;
    text-align: center;
    padding:1rem;
    background: #f0f0f0;
}

.gallery .image-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .image-container .box:hover .image{
    background:#ccc;
}

.gallery .image-container .box .info{
    width: 100%;
}

.gallery .image-container .box .info h3{
    font-size: 2rem;
    color:#1F45FC;
    padding:1rem;
}

.gallery .image-container .box .info .subInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: .1rem solid rgba(0,0,0,.3);
    padding:1rem;
}

.gallery .image-container .box .info .subInfo .price{
    color:#ff3300;
    font-size: 2rem;
}

.gallery .image-container .box .info .subInfo .stars i{
    color:orange;
    font-size: 1rem;
}

.deal{
    min-height: 100vh;
}

.deal .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.deal .box-container .box{
    flex:1 1 40rem;
    height: 25rem;
    margin:2rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.deal .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.deal .box-container .box .content{
    position: absolute;
    top:55%; left: 3rem;
    transform:translateY(-50%);
}

.deal .box-container .box .content h3{
    font-size: 3.5rem;
    color:#fff;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.deal .box-container .box .content p{
    font-size: 2rem;
    color:#fff;
}

.deal .box-container .box .content .btn{
    margin:1.4rem 0;
}

.deal .icons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.deal .icons-container .icons{
    flex:1 1 25rem;
    padding:1rem;
    margin:1rem;
    text-align: center;
    border:.2rem solid var(--blue);
}

.deal .icons-container .icons i{
    color:#1F45FC;
    font-size: 4rem;
    padding:1rem 0;
}

.deal .icons-container .icons h3{
    color:#333;
    font-size: 2rem;
}

.deal .icons-container .icons p{
    color:#666;
    font-size: 1.3rem;
    padding:1rem 0;
}

.newsletter{
    background:linear-gradient(var(--blue),var(--blue)), url(../images/deal1.jpg) no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding:4rem 1rem;
    text-align: center;
}

.newsletter h1{
    color:#fff;
    font-size: 4rem;
}

.newsletter p{
    color:#fff;
    font-size: 2rem;
    padding:1rem 0;
}

.newsletter form{
    height:5.5rem;
    max-width: 60rem;
    margin:0 auto;
    padding:0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5rem;
    background:rgba(0,0,0,.3);
}

.newsletter form input[type="email"]{
    height: 100%;
    width: 80%;
    padding:0 1rem;
    outline: none;
    border:none;
    background:none;
    font-size: 2rem;
    color:#fff;
}

.newsletter form input[type="submit"]{
    border-radius: 5rem;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box .logo{
    font-size: 2.5rem;
    color:#1F45FC;
}

.footer .box-container .box i{
    color:#1F45FC;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    padding:1rem 0;
    color:#666;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#1F45FC;
}

.footer .box-container .box:nth-child(2){
    text-align: center;
}

.footer .box-container .box:nth-child(2) a{
    display: block;
    font-size: 2rem;
    padding:.4rem 0;
    color:#666;
}

.footer .box-container .box:nth-child(2) a:hover{
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    width: 85%;
    margin:0 auto;
    padding:1.4rem 0;
    border-top: .1rem solid rgba(0,0,0,.3);
    color:#666;
    font-size: 2rem;

    padding-bottom: 5rem;

}

.footer .credit span{
    color:#1F45FC;
}
/* media queries  */

@media (max-width:768px){

    html{
        font-size: 55%;
    }
    
    header .header-1 .form-container form #search{
        width: 100%;
    }

    header .header-2 #menu{
        display: block;
    }

    header .header-2 .navbar{
        position: fixed;
        top: -200rem; left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 100vh rgba(0,0,0,.3);
        z-index: 10000;
        opacity: 0;
    }

    header .header-2 .navbar ul{
        flex-flow: column;
        background: linear-gradient(var(--blue), blueviolet);
        border:.2rem solid #fff;
        box-shadow: 0 .3rem .5rem #000;
        padding:4rem 0;
        width: 27rem;
    }

    header .header-2 .navbar ul li{
        width: 100%;
        margin:1rem 0;
        text-align: center;
    }

    header .header-2 .navbar ul li a{
        font-size: 2.5rem;
        display: block;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .header-2 .nav-toggle{
        top:50%;
        opacity: 1;
    }

    .arrival .box-container{
        width: auto;
    }

}

@media (max-width:600px){

    html{
        font-size: 50%;
    }

    .home .home-slider .item .content h3{
        font-size: 3rem;
    }

    .home .home-slider .item .content p{
        font-size: 2rem;
        width: auto;
    }

    .feature .row .image-container{
        flex-flow: column wrap;
    }

    .feature .row .image-container .small-image{
        flex-flow: row wrap;
        padding-bottom: 2rem;
    }

    .feature .row .content{
        padding:2rem;
        border-top: .1rem solid rgba(0,0,0,.3);
    }

    .feature .row .content p{
        width: auto;
    }

    .feature .row .content .btn{
        margin: 2rem 0;
    }

}


@media (max-width:400px){

    html{
        font-size: 45%;
    }

    header .header-1{
        flex-flow: column;
        padding:1rem;
    }

    header .header-1 .logo{
        padding-bottom: 1.5rem;
    }

}